<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
              <% if logged_in? && current_user.id == topic.user_id %>
              <div class="delete-edit">
                <%= link_to '削除', topic, class: 'btn commentdeletebtn', method: :delete, data: { confirm: '投稿を削除しますか？' } %>
                <%= link_to '編集', edit_topic_path(topic), class: 'btn commentdeletebtn' %>
              </div>
              <% end %>
            </h2>
            <%= image_tag topic.image.url if topic.image.present? %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <%= image_tag 'icon/star.png', class: 'topic-index-icon' %>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                <%= image_tag 'icon/check.png', class: 'topic-index-icon' %>
              <% end %>
            <% end %>
              <%= topic.favorite_users.count %>
            <%= link_to new_comment_path(topic_id: topic.id) do %>
              <%= image_tag 'icon/comment.png', class: 'topic-index-icon' %>
            <% end %>
            <div class="comment">返信</div>
            <% topic.comments.each do |comment| %>
            <div class="comment-delete">
                <%= comment.reply %>
                <%= link_to '削除', comment, class: 'btn commentdeletebtn', method: :delete, data: { confirm: 'コメントを削除しますか？' } %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>