<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-red">プロフィール設定</h1>
        <%= form_for @user do |f| %>
            <% if @user.image? %>
              <%= image_tag @user.image.url %>
            <% else %>
            <div class="icon">
              <%= image_tag("icon/noimage.png") %>
            </div>
            <% end %>
            <%= f.file_field :image %>
          <div class="form-group">
            <%= f.label :name, "ユーザー名", class: 'text-red' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, "メールアドレス", class: 'text-red' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :birthday, "生年月日", class: 'text-red' %>
            <%= f.date_select :birthday, {:start_year => 1900 } %>
          </div>
          <div class="form-group">
            <%= f.label :description, "コメント", class: 'text-red' %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, "パスワード", class: 'text-red' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "パスワード（確認）", class: 'text-red' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit "登録", class: 'btn-block btn-red' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

